@page
@model Widgets2025.Pages.Widgets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Widget</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Widget.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Widget.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Widget.CurrentPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Widget.CurrentPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Widget.WidgetId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
